.rectangle {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}
.rectangle-pink {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: pink;
    cursor: pointer;
}
.rectangle-gray {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #D3D3D3;
    cursor: pointer;
}
.rectangle-yellow {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: yellow;
    cursor: pointer;
}
#pinkBadge {
    height: 20px;
    width: 5px;
    margin-right: 5px;
    background-color: pink;
}
#grayBadge {
    height: 20px;
    width: 5px;
    margin-right: 5px;
    background-color: gray;
}
#yellowBadge {
    height: 20px;
    width: 5px;
    margin-right: 5px;
    background-color: yellow;
}
#whiteBadge {
    height: 20px;
    width: 5px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid gray;
}
  