<div class="container">
    <h1>Car Parking</h1>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-6 col-sm-3 rectangle-gray" (click)="bookSlot('P1', 'elderly')">P1</div>
                <div class="col-6 col-sm-3 rectangle" (click)="bookSlot('P2', 'general Category')">P2</div>
                <div class="col-6 col-sm-3 rectangle-pink" (click)="bookSlot('P3', 'women')">P3</div>
                <div class="col-6 col-sm-3 rectangle-yellow" (click)="bookSlot('P4', 'accessibility')">P4</div>

                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>

                <div class="col-12 col-sm-3 rectangle-yellow" (click)="bookSlot('P5', 'accessibility')">P5</div>
                <div class="col-12 col-sm-3 rectangle" (click)="bookSlot('P6', 'general Category')">P6</div>
                <div class="col-12 col-sm-3 rectangle-gray" (click)="bookSlot('P7', 'elderly')">P7</div>
                <div class="col-12 col-sm-3 rectangle-yellow" (click)="bookSlot('P8', 'accessibility')">P8</div>
                <div class="col-12 col-sm-3 rectangle-yellow" *ngFor="let divData of boxData">{{divData.parking_slot_no}}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row"><span id="pinkBadge"></span> women</div>
            <div class="row"><span id="yellowBadge"></span> accessibility</div>
            <div class="row"><span id="grayBadge"></span> elderly</div>
            <div class="row"><span id="whiteBadge"></span> general Category</div>
        </div>

    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>
                        ID
                    </th>
                    <th>
                        PARK SLOT NO
                    </th>
                    <th>
                        BOOKING STATUS
                    </th>
                    <th>
                        BOOKED BY
                    </th>
                    <th>
                        PARKING CATAGORY
                    </th>
                    <th>
                        BOOKING TIME AND DATE
                    </th>
                    <th>
                        DELETE SLOT
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of parkingDetails; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.parking_slot_no}}</td>
                    <td>{{item.booking_status}}</td>
                    <td> <input type="text" value="{{item.booked_by}}"></td>
                    <td>{{item.parking_catagory}}</td>
                    <td>{{item.booking_time}}</td>
                    <td><button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-add-parking-slot (parkingData)="onParkingAdded($event)"></app-add-parking-slot>
</div>